.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-content{
  margin-top: 100px;
}
.nav-container{
  background-color: aliceblue;
  color: black;
  font-size: 18px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 99%
  
}

.nav-title{
  font-weight: bolder;
}

.nav-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.nav-options a{
  text-decoration: none;
  color: black;
}

.signup-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.image-upload{
  width: 60%;
  height: 300px;
  border-radius: 20px;
  border: 2px lightgray dotted;
  border: dashed 2px lightgray;
  padding: 20px;
  display: inline-block;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-submit{
  background-color: white;
  border: 4px solid #e26742c2;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  color:#e26742c2;
  margin-top: 20px ;
}

.images-preview{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;  
  flex-wrap: wrap;
}

.images-preview img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin:10px;
  border: 4px solid lightgrey;
  border-radius: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
